@using Blazored.LocalStorage
@using MyFirstServerSideBlazor.Authentification
@using MyFirstServerSideBlazor.Authentification.Contracts

@inject IJSRuntime JSRuntime
@inject IUserServise UserServise
@inject IAccessTokenServise TokenServise
@inject ILocalStorageService LocalStorageServise
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager

<div class="LoginMainContainer ShowTransition">
    <div class="LogoContainer">
        <img src="https://api.logo.com/api/v2/images?format=webp&logo=logo_2c5042ea-632d-4f85-9519-9a3dd390f8e5&width=1000&background=transparent&u=1659042533" />
    </div>
    <div class="TextBoxesContainer">
       <input @bind="@UserName" />
       <input type="password" @bind="@Password" />
    </div>
    <div class="ButtonsContainer">
        @{
            if(!isLoginSuccessfull){
            <div class="BadUsernameWarning">Bad user name or password</div>
            }
         }
        <input @onclick="LoginAction" type="button" value="Sign In" />
    </div>
</div>


<style>
    .BadUsernameWarning{
        color: red;
        font-size: 10px;
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .ButtonsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 100% !important;
    }

    .ButtonsContainer input{
        height: 40px;
        width: 100px;
        border: none;
        background: #f69d3c;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
        color: white;
        font-size: 18px;
        outline: 1px solid #227a561c;
    }

    .ButtonsContainer input:hover{
        height: 40px;
        width: 100px;
        border: none;
        background: #3f87a6;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white;
        font-size: 18px;
        outline: 1px solid #227a561c;
        transition: 0.5s;
    }

    .ButtonsContainer input:active{
        height: 40px;
        width: 100px;
        border: none;
        background: #398b69;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 50%) 1.95px 1.95px 2.6px inset;
        color: white;
        font-size: 18px;
        outline: 1px solid #227a561c;
        transition: 0.5s;
    }

    .LogoContainer{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100% !important;
    }

    .LogoContainer img{
        height: 150px;
        margin-top: 20px;
    }
    
    .TextBoxesContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin-top: 140px;
        width: 100% !important;
    }

     .TextBoxesContainer input{
        margin: 10px;
        margin-left: 200px;
        margin-right: 200px;
        width: 100% !important;
        outline: 0;
        height: 35px;
        font-size: 18px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px, rgb(0 0 0 / 12%) 0px 3px 4px;
    }

    .TextBoxesContainer input:hover{
        margin: 10px;
        margin-left: 100px;
        margin-right: 100px;
        width: 100% !important;
        outline: 0;
        height: 35px;
        font-size: 18px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px inset, rgb(0 0 0 / 8%) 0px 0px 0px 1px inset, rgb(0 0 0 / 9%) 0px 4px 5px;
        transition: 0.67s;
    }

    .LoginMainContainer.hide{
        width: 1px;
        height: 450px;
        margin: 20px;
        border-radius: 40px;
        margin-top: -150px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #f7f7f7;
        flex-wrap: wrap;
        transition: 0.41s;
    }

    .LoginMainContainer.hide div img{
        opacity: 0;
    }

     .LoginMainContainer.ShowTransition div img{
        opacity: 1;
    }
    
    .LoginMainContainer.hide div{
        width: 1px;
        height: 1px;
        display: none;
        transition: 1s;
    }
    
    .LoginMainContainer.ShowTransition div{
        width: 1px;
        height: 1px;
        transition: 1s;        
    }
    
    .LoginMainContainer.ShowTransition{
        display: flex;
        width: 500px;
        height: 400px;
        margin: 20px;
        border-radius: 20px;
        margin-top: -450px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #ffffff96;
        flex-wrap: wrap;
        transition: 0.41s;
    }
    
    .LoginMainContainer:hover
    {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

</style>

@code {
    public string UserName { get; set; }
    public string Password { get; set; }

    protected bool isLoginSuccessfull = true;

    

    protected async Task LoginAction()
    {
        var user = UserServise.VerifyLogin(UserName, Password);

        if(user != null)
        {
            await LocalStorageServise.SetItemAsync("MyFirstServerSideBlazorsFirstToken", TokenServise.CreateAccessToken(user));
            ((TokenAuthenticationStateProviderServise)AuthProvider).UserAuthenticated(user);
            NavigationManager.NavigateTo("/Testas");
        }
        else
        {
            isLoginSuccessfull = false;
        }
    }
}
