@using MyFirstServerSideBlazor.Pages
@inherits LayoutComponentBase
<PageTitle>Login</PageTitle>

<div class="MainBody">
    <Login/>
</div>

<style>
    
    html{
        height: 100%;
    }
    
    .MainBody{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        height: 100%;
        width: 100%;
        align-content: center;
        background: linear-gradient(18deg, #87e195 0%, #6493e5 100%);
    }
    
    body, #app{
        height: 100%;
    }
    
</style>


