@using MyFirstServerSideBlazor.Pages
@inherits LayoutComponentBase
<PageTitle>Sign In</PageTitle>

<div class="MainBody">
    <Sign/>
</div>

<style>
    
    html{
        height: 100%;
    }
    
    .MainBody{
        display: flex;
{"cM":"l","OR":3}        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-items: center;
        height: 100%;
        width: 100%;
        align-content: center;
        background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    }
    
    

    body, #app{
        height: 100%;
    }
    
</style>


