@page "/Testas"
@using System.Security.Claims
@layout EmptyLayout

@inject NavigationManager NavManger
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Roles="admin">
    <h1> (@Role) @UserName, Labas</h1>
</AuthorizeView>

<AuthorizeView Roles="lopas">
    @{
        NavManger.NavigateTo("/ProtectedResource");
    }
</AuthorizeView>


@code{
    public string UserName { get; set; }
    public string Role { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        UserName = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Claims.Where(x => x.Type == ClaimTypes.Name).FirstOrDefault()?.Value ?? "Prisijunkite";
        Role = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Claims.Where(x => x.Type == ClaimTypes.Role).FirstOrDefault()?.Value ?? "Kas tu?";

        StateHasChanged();
    }}
